.slider h3,
.slider h5,
.sponsor h3 {
	text-shadow: 1px 1px 3px  rgba(0,0,0,.5)
}

.parallax-container {
	height: 20%;
}

.parallax img {
	filter: grayscale(1);
	opacity: 0.8 !important;
}

.sponsor img {
	max-width: 100px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,.5));
}

.service {
	padding: 20px 0px;
}