.nav-link:hover{
	background-color: grey;
}
.display-3{
  font-weight: bold;
  font-size: 25px;
}
.display-4{
	font-weight: bold;
}
.card-body-icon{
	position: absolute;
	z-index: 0;
	top:25px;
	right: 4px;
	opacity: 0.4;
	font-size: 90px;
}
.text{
  font-size:  15px;
}
.profile-img{
width:  170px;
height:   150px;
}
.profile-img1{
width:  150px;
height:   120px;
position: center;
}
h1{
  text-align: center;
  font-family: sans-serif;
  font-weight: 300;
  color: #fff;
}
 
.tombol{
  padding: 8px 15px;
  border-radius: 3px;
  background: #ECF0F1;
  border: none;
  color: #232323;
  font-size: 12pt;
}
 
.kotak{
  margin: 20px auto;
  background: #1ABC9C;
  width: 900px; 
  padding: 20px 50px 50px 50px;
  border-radius: 3px;
}
.usrr{
  color: black;
}
.navv{
  font-size: 12px;
}
.privasi{
  font-size: 17px;
}
.form-fieldset {
    clear: both;
    margin-bottom: 20px;
}